.message-container {
    flex-shrink: 0;
    display: flex;
    min-height: 30px;
    padding: 15px 0;
    width: 70%;
    animation: show-message .3s;
    overflow-wrap: break-word;
    color: var(--black);
    flex-direction: column;
    gap: 5px;
    word-break: break-word;
}
.line {
    border-bottom: 1px solid var(--grey);
    width: 100%;
}
.container-message-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.container-message-content.assistant {
    width: 100%;
    color: var(--white);
}
.container-message-content.user {
    font-style: oblique;
    font-weight: 400;
    align-self: flex-end;
    background-color: var(--grey-light);
    color: var(--white);
    max-width: 80%;
    padding: 15px;
    border-radius: var(--border-lg) var(--border-lg) 0 var(--border-lg);
}
.container-message-content.user * {
    margin: 0;
}
.container-loader-image {
    width: 100%;
    min-height: 60dvh;
}
.loader-image {
    width: 400px;
    aspect-ratio: 1;
    flex-shrink: 0;
    background-color: var(--light);
    border-radius: var(--border-md);
    position: relative;
    overflow: hidden;
    animation: show .3s linear;
}
.loader-image::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -100%;
    width: 10%;
    height: 200%;
    background: rgba(var(--white-n), .2);
    animation: move 1s ease-out infinite;
    transform: translateY(-50%) rotate(45deg);
    box-shadow: 0 0 20px 20px rgba(var(--white-n), 0.2);
}
@media (max-width: 850px) {
    .loader-image {
        width: 100%;
        border-radius: var(--border-md);
    }
    .container-loader-image {
        width: 60%;
        aspect-ratio: 1;
    }
}